<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newcosts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои расходы"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StatisticDetailedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppStyle"/>
        <activity
            android:name=".StatisticExpenseTypeDetailedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppStyle"/>
        <activity
            android:name=".ActivityInputData"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppStyle"/>
        <activity
            android:name=".MainActivityWithFragments"
            android:screenOrientation="portrait"
            android:theme="@style/CustomAppStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>