<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newcosts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои расходы"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.newcosts.MainActivity"
            android:label="Мои расходы"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.newcosts.AddNewEvent"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.newcosts.StatisticMainScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.newcosts.StatisticDetailedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.newcosts.StatisticCostTypeDetailedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.newcosts.StatisticChosePeriodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.newcosts.StatisticChosenPeriodActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>